body {
  background: #f5f6fb;
}

/* Update components bootstrap */
h1.h2 {
  color: #3e5c73;
  font-weight: 600;
  margin-bottom: 20px;
}

p.h4 {
  color: #9ea9b7;
  font-weight: 400;
  margin-bottom: 100px;
}

.btn-primary {
  background-color: #6cd9d9;
  border: none;

  font-weight: 700;
  border-radius: 25px;
  padding: 10px 30px;
}

/* Header Section */
.header {
  background: url("../assets/img/foto-header.png") no-repeat, #184059;
  background-position: 150%;

  height: 450px;
  overflow: hidden;
}

.header .container .row .col-sm-8 {
  padding: 5% 5%;
  color: #fff;
}

.header .container .row .col-sm-8 .logo {
  margin-bottom: 100px;
}

.header .container .row .col-sm-8 .title {
  margin-bottom: 30px;
}

.header .container .row .col-sm-8 .legend {
  width: 60%;
  font-size: 18px;
}

.header .container .row .col-sm-4 img {
  width: 300px;
  margin-top: 50px;
}

/* Next Events Section*/

.next-events {
  padding: 5% 15%;
}

.next-events .container .row .switch {
  border: solid 1px #6cd9d9;
  border-radius: 20px;
  padding: 0 !important;
  overflow: hidden;
  margin-bottom: 50px;
}

.next-events .container .row .switch div {
  width: 50%;
  padding: 1% 4%;
  color: #6cd9d9;
  cursor: pointer;
}

.next-events .container .row .switch div.selected {
  background: #6cd9d9;
  color: #fff;
}

a[href="#carouselExampleControls"]{
    color: #184059;
    font-size: 36px;
}

.event {
  width: 70%;
  margin-left: 15%;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  color: #9ea9b7;
}

.event img {
  width: 50%;
}

.event div.content-event {
  width: 50%;
  padding: 2% 1% 2% 5%;
}

.event div.content-event h3 {
  color: #3e5c73;
  margin-bottom: 20px;
}

.event div.content-event p.h5 {
  font-weight: 400;
  margin-bottom: 30px;
}

.event div.content-event .date-time{
    margin-bottom: 10px;
}

.event div.content-event .date-time p {
  margin-bottom: 0px;
  line-height: 20px;
}

.event div.content-event .date-time p strong {
    color: #3e5c73;
}

#past-events .row .col-sm-4{
    padding: 0 5%;
}

#past-events .row .col-sm-4 .card{
    background: rgba(0, 0, 0, 0);
    border: none;
}

#past-events .row .col-sm-4 .card img{
    border-radius: 20px;
    box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.3);
}

#past-events .row .col-sm-4 .card .card-body p.h5{
    font-weight: 400;
    font-size: large;
}

.hidden{
    display: none;
}

/* Complementary Contents Section*/
.complementary-contents {
  background: #fff;

  padding: 5% 15%;
}

.complementary-contents .container .row .col-sm-4 {
  padding: 0 4%;
}

.complementary-contents .container .row .col-sm-4 .card {
  border: none;
}

.complementary-contents .container .row .col-sm-4 .card,
.complementary-contents .container .row .col-sm-4 .card img {
  border-radius: 20px;
}

.complementary-contents .container .row .col-sm-4 .card .card-body {
  padding-right: 0;
  padding-left: 0;
}

.complementary-contents .container .row .col-sm-4 .card .card-body .card-title {
  margin: 5% 0;
}

.complementary-contents .container .row .col-sm-12 {
  margin-top: 50px;
  width: 95%;
  border-radius: 20px;
  background: #f5f6fb;
}

.complementary-contents .container .row .col-sm-12 img {
  width: 50%;
}

.complementary-contents .container .row .col-sm-12 .container {
  padding-left: 7.5%;
}

.complementary-contents .container .row .col-sm-12 .container a {
  width: 50%;
  padding: 3% 1%;
}

/* Contact */
.contact {
  padding: 5%;
}

.contact .container .row .col-sm-5 .form {
  background-color: #fff;
  padding: 10% 15%;
  border-radius: 20px;

  color: #9ea9b7;
}

.contact .container .row .col-sm-5 .form input[type="text"],
.contact .container .row .col-sm-5 .form select,
.contact .container .row .col-sm-5 .form input[type="tel"] {
  padding: 10px 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  border: solid 1px #9ea9b7;
  background-color: #fff;
  font-size: 12px;
}

.contact .container .row .col-sm-5 .form input[type="text"]::placeholder,
.contact .container .row .col-sm-5 .form select,
.contact .container .row .col-sm-5 .form input[type="tel"]::placeholder {
  color: #9ea9b7;
}

.contact .container .row .col-sm-5 .form .d-flex .form-check .form-check-label,
.contact .container .row .col-sm-5 .form .form-check .form-check-label {
  font-size: 13px;
  margin-bottom: 10px;
}

.contact .container .row .col-sm-5 .form .d-flex .h6 {
  margin-top: 10px;
  color: #3e5c73;
  font-size: 13px;
}

.contact .container .row .col-sm-5 .form .line-bottom {
  margin-bottom: 20px;
  border-bottom: solid 2px #3e5c73;
}

.contact .container .row .col-sm-5 .form input[type="button"] {
  width: 60%;
  margin-left: 20%;
  margin-top: 50px;
}
